<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cat Voting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .cat-container {
            display: flex;
            justify-content: space-around;
            padding: 20px;
            gap: 10px;
        }
        .cat-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 100px 200px;
        }
        .cat-image {
            width: 300px;
            height: auto;
        }
        .cat-name {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="cat-container">
    <div class="cat-item">
        <form method="post" th:action="@{/cats/change-votes}">
            <input type="hidden" th:name="catId" th:value="${firstCat.catId}">
            <input type="image" th:src="@{${firstCat.imageUrl}}" alt="First Cat Image" class="cat-image">
            <input type="submit" th:value="${firstCat.name}" class="cat-name">
        </form>
    </div>
    <div class="cat-item">
        <form method="post" th:action="@{/cats/change-votes}">
            <input type="hidden" th:name="catId" th:value="${secondCat.catId}">
            <input type="image" th:src="@{${secondCat.imageUrl}}" alt="Second Cat Image" class="cat-image">
            <input type="submit" th:value="${secondCat.name}" class="cat-name">
        </form>
    </div>
</div>
</body>
</html>
